services:
  db:
    image: postgres:15-alpine
    container_name: h1watch_db
    restart: unless-stopped
    env_file: .env
    ports:
      - "5433:5432"
    volumes:
      # C'est ici que l'on définit ce qui entre dans le container
      - postgres_data:/var/lib/postgresql/data
      - ./init-postgres.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: h1watch_api
    restart: unless-stopped
    env_file: .env
    environment:
      - NODE_ENV=development
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    command: npm start
    ports:
      - "3001:3001"
    depends_on:
      db:
        condition: service_healthy

# Déclaration des volumes nommés (au premier niveau)
volumes:
  postgres_data:
